<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="index.html">Student Result</a></li>
                <li class="breadcrumb-item active">Result View</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-body mt-3">

                        <!-- start my work-->
                        <div class="row">


                            <label class="col-form-label col-sm-2 pt-0">Select Class</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">Class- 6</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">Class-7</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option2">
                                    <label class="form-check-label" for="gridRadios3">Class-8</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option2">
                                    <label class="form-check-label" for="gridRadios4">Class-9</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option2">
                                    <label class="form-check-label" for="gridRadios5">Class-10</label>
                                </div>
                            </div>






                            <!-- end my work-->
                    </div>

                </div>

            </div>

        </div>
    </section>




    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">

                        <!-- start my work-->
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Student Result View</h5>

                                    <!-- Table with stripped rows -->
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Class Roll</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Ban</th>
                                            <th scope="col">Eng</th>
                                            <th scope="col">Math</th>
                                            <th scope="col">Scince</th>
                                            <th scope="col">Social</th>
                                            <th scope="col">Islam</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">GPA</th>
                                            <th scope="col">Result</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Brandon Jacob</td>
                                            <td>70</td>
                                            <td>89</td>
                                            <td>98</td>
                                            <td>75</td>
                                            <td>80</td>
                                            <td>65</td>
                                            <td>58</td>
                                            <td>A+</td>
                                            <td>PASS</td>
                                            <td>
                                                <a href=""> Delete</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <!-- End Table with stripped rows -->

                                </div>
                            </div>
                        </div>

                        <!-- end my work-->
                    </div>

                </div>

    </section>
</main><!-- End #main -->

<div th:insert="footer.html">...</div>