<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="index.html">Student Result</a></li>
                <li class="breadcrumb-item active">Result View</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-body mt-3">

                        <!-- start my work-->
                        <div class="row">


                            <div class="col-md-5">
                                <label class="form-label">Class</label>
                                <select  class="form-select" >
                                    <option value="" selected>Choose One</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>


                                </select>
                            </div>

                            <div class="col-md-5">
                                <label class="form-label">Student Roll</label>
                                <input type="text" class="form-control" >
                            </div>

                            <div class="col-md-2">
                                <label class="form-label"></label><br>
                                <input type="submit" class="btn btn-warning " value="Search " >
                            </div>

                        </div>








                        <!-- end my work-->
                    </div>

                </div>

            </div>

        </div>
    </section>




    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-body mt-3">

                        <!-- start my work-->
                        <div class="row">


                          <label class="">LALBAG MODEL SCHOOL AND COLLAGE</label>

                        </div>








                        <!-- end my work-->
                    </div>

                </div>

            </div>

        </div>
    </section>
</main><!-- End #main -->

<div th:insert="footer.html">...</div>